nav {
  background: rgba(0, 0, 0, 0.3);
  width: 20rem;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%); /*???*/
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(10px); /*블러효과를 주고 뒤에 보이는 크기 지정*/
}

nav a {
  background: transparent;
  padding: 0 0.5rem;
  border-radius: 14px;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}
nav a:hover {
  background: rgba(181, 181, 181, 0.3);
}